.form-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.dialog-form {
  width: 100%;
}

.dialog-form {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.col-6 {
  grid-column: span 6;
}

.col-12 {
  grid-column: span 12;
}
